/* 
    Document   : styles
    Created on : 2013-jan-09, 13:16:55
    Author     : gustav
    Description:
        Purpose of the stylesheet follows.
*/

@import url(../../../themes/boot/style.css);

